<head>
	<link href="vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
	<link href="views/company/css/style_home.css" rel="stylesheet" type="text/css" media="all" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<script src="vendor/jquery/dist/jquery.min.js"></script>
	<link rel="stylesheet" href="views/company/css/flexslider.css" type="text/css" media="screen" />

</head>


<!-- header -->
<!-- body -->
<section id="home" class="cp_tab_content cp_herro_banner">
	<div class="cp_herro_banner_gray" style="height: 100px;"></div>
	<img ngf-thumbnail="companyInfo.cover || 'views/home/images/cover-default.jpg'" class="cp_herro_banner_image">
</section>
<div class="container">
	<div class="row" style="border-bottom: 2px solid #F67011; padding-bottom: 30px">
		<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 cp_logo  mobile-hide">
			<div>
				<img ngf-thumbnail="companyInfo.logo || 'views/home/images/logo1.png'" />

				<!-- <img src="views/company/images/banner1.png" alt=""> -->
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 cp_basic_info_details">
			<h2 id="cp_company_name">{{companyInfo.name}}</h2>
			<ul>
				<li>
					<span class="li-items-limit" title="Da Nang, Ha Noi, Ho Chi Minh">{{companyInfo.address}}</span>
				</li>
				<li>
					<a href="{{companyInfo.website}}">
						<span class="company_type">{{companyInfo.website}}</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 cp_follow_survey text-right">
			<a style="background-color:#F67011; text-decoration: none;" class="btn-animation follow-company">
				<span id="follow_text" ng-if="!following" ng-click="follow()">Theo dõi </span>
				<span id="follow_text" ng-if="following" ng-click="unFollow()" class="fa fa-check">Đang Theo dõi </span>
			</a>
			<!-- find us for mobile -->
		</div>
	</div>
</div>

<div id="jobsListing" class="panel-collapse cp_our_jobs_container collapse in" aria-expanded="true" style="">
	<div class="panel-body">
		<div class="cp_our_jobs_listing" id="ajax_cp_our_jobs_listing">
			<h3 style="border-color: #F67011">Chúng tôi có {{listPost.length}} công việc cho bạn</h3>
			<div class="jobs_listing_block ">
				<div class="cp_our_job_item  show " ng-repeat="post in listPost">
					<div class="row">
						<div class="col-xs-12 col-sm-10 cp_Job_summary_info">
							<h4>
								<a href="/post/{{post.idpost}}" target="_blank" >{{post.title}}</a>
							</h4>
							<ul>
								<li>
									<i class="fa fa-briefcase"></i>{{post.category}}
								</li>
								<li>
									<i class="fa fa-calendar-o"></i>Hạn đăng ký: <b> {{post.expired | date:'dd/MM/yyyy'}}</b> 
								</li>
								<li>
									<i class="fa fa-map-marker "></i> Địa chỉ: {{post.address}}
								</li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-2 cp_job_view_detail">
							<a href="/post/{{post.idpost}}" target="_blank" >View More</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 cp_header_section">
		<h2>Giới thiệu
			<span class="cp_under_line" style="background-color: #F67011"></span>
		</h2>
		<div class="about" id="welcome">
			<div class="cp_story_item">
				<div class="col-xs-12 col-sm-4 cp_story_item_content" style="border-color: #F05A22">
					<h2 style="color: #F05A22">GIỚI THIỆU CÔNG TY</h2>
					<p ng-bind-html="companyInfo.about" style="text-align:left;">
					</p>
				</div>
				<div class="col-xs-12 col-sm-8 cp_story_item_media" style="border-color: #F05A22">
					<img src="views/company/images/9.jpg" width="100%" alt="About company">
				</div>
			</div>
		</div>
	</div>

</div>

<div class="cp_tab_content cp_our_story_section" id="stories">
	<div class="row">
		<div class="col-sm-12 cp_header_section">
			<h2>Câu chuyện của chúng tôi
				<span class="cp_under_line" style="background-color: #F67011"></span>
			</h2>
		</div>
	</div>
	<div class="row">
		<div class="cp_container_section">
			<div class="container">
				<div class="row cp_our_story_item_option cp_our_story_item_option3">
					<div class="cp_story_item_3 cp_story_item">
						<div class="cp_our_benefit_item_container">
							<div class="cp_benefit_icon">
								<span style="background-color: #F67011">
									<i class="fa fa-child"></i>
								</span>
							</div>
							<div class="cp_benefit_name">
								<h3>Mục tiêu công ty</h3>
								<span class="under-line" style="background-color: #F67011"></span>
							</div>
							<div class="cp_benefit_description">
								<p ng-bind-html="companyInfo.goal"></p>
							</div>
						</div>
					</div>
					<div class="cp_story_item_3 cp_story_item">
						<div class="cp_our_benefit_item_container">
							<div class="cp_benefit_icon">
								<span style="background-color: #F67011">
									<i class="fa fa-check-square-o"></i>
								</span>
							</div>
							<div class="cp_benefit_name">
								<h3>Sứ mệnh công ty</h3>
								<span class="under-line" style="background-color: #F67011"></span>
							</div>
							<div class="cp_benefit_description">
								<p ng-bind-html="companyInfo.mission"></p>
							</div>
						</div>
					</div>
					<div class="cp_story_item_3 cp_story_item">
						<div class="cp_our_benefit_item_container">
							<div class="cp_benefit_icon">
								<span style="background-color: #F67011">
									<i class="fa fa-dollar"></i>
								</span>
							</div>
							<div class="cp_benefit_name">
								<h3>Phúc lợi công ty</h3>
								<span class="under-line" style="background-color: #F67011"></span>
							</div>
							<div class="cp_benefit_description">
								<p ng-bind-html="companyInfo.benefits"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- body -->
</div>
</div>
</div>