<head>
	<title>Trang Chủ</title>
	<link href="vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
	<link href="views/home/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<script src="vendor/jquery/dist/jquery.min.js"></script>
	<link rel="stylesheet" href="views/home/css/flexslider.css" type="text/css" media="screen" />
	<script type="text/javascript" src="views/home/js/jquery.flexisel.js"></script>
	
</head>

<!-- header -->
<div class="header">
	<div class="header-bottom">
		<div class="container">
			<div class="logo">
				<a href="index.html">
					<img src="views/home/images/logo1.png" class="img-responsive" alt="">
				</a>
			</div>
			<div class="head-nav">
				<span class="menu"> </span>
				<ul class="cl-effect-3">
					<li class="active">
						<a href="index.html">Trang Chủ</a>
					</li>
					<li>
						<a href="">Các công ty</a>
					</li>
				</ul>
				<!-- script-for-nav -->
				<script>
					$("span.menu").click(function () {
						$(".head-nav ul").slideToggle(300, function () {
							// Animation complete.
						});
					});
				</script>
				<!-- script-for-nav -->
			</div>
			<div class="header-right1">
				<li>
					<a href="">Sinh viên</a>
				</li>
				<li>
					<a href="">Công ty</a>
				</li>
			</div>
		</div>
	</div>
</div>
<!-- header -->
<!-- banner -->
<div class="header1">
	<div class="banner">
		<h1>l'm looking for...</h1>
		<form>
			<span class="input-group-addon" id="basic-addon1"><i class="fa fa-search fa-3" aria-hidden="true"></i></span>
			<input type="text" value="Enter a Job Description" onfocus="this.value = '';" onblur="if (this.value = 'Enter a Job Description') {this.value = 'Enter a Job Description';}">
			<input type="submit" class="ser" value="Search">
			<br>
		</form>
	</div>
</div>
<!-- banner -->
<!-- banner -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1" class=""></li>
		<li data-target="#myCarousel" data-slide-to="2" class=""></li>
		<li data-target="#myCarousel" data-slide-to="3" class=""></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<div class="container">
				<div class="carousel-caption">
					<div class="agileits-button top_ban_agile">
					</div>
				</div>
			</div>
		</div>
		<div class="item item2">
			<div class="container">
				<div class="carousel-caption">
					<div class="agileits-button top_ban_agile"></div>
				</div>
			</div>
		</div>
		<div class="item item3">
			<div class="container">
				<div class="carousel-caption">
					<div class="agileits-button top_ban_agile"></div>
				</div>
			</div>
		</div>
		<div class="item item4">
			<div class="container">
				<div class="carousel-caption">
					<div class="agileits-button top_ban_agile"></div>
				</div>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
<!--//banner -->
<!-- feature company -->
<div class="single">
	<div class="container">
		<div class="grid_1">
			<h3>Các công ty nổi bật</h3>
			<ul id="flexiselDemo3">
				<li>
					<img src="views/home/images/c1.gif" class="img-responsive" />
				</li>
				<li>
					<img src="views/home/images/c2.gif" class="img-responsive" />
				</li>
				<li>
					<img src="views/home/images/c3.gif" class="img-responsive" />
				</li>
				<li>
					<img src="views/home/images/c4.gif" class="img-responsive" />
				</li>
				<li>
					<img src="views/home/images/c5.gif" class="img-responsive" />
				</li>
				<li>
					<img src="views/home/images/c6.gif" class="img-responsive" />
				</li>
			</ul>

			<script type="text/javascript">
				$(window).load(function () {
					$("#flexiselDemo3").flexisel({
						visibleItems: 6,
						animationSpeed: 1000,
						autoPlay: true,
						autoPlaySpeed: 2500,
						pauseOnHover: true,
						enableResponsiveBreakpoints: true,
						responsiveBreakpoints: {
							portrait: {
								changePoint: 480,
								visibleItems: 1
							},
							landscape: {
								changePoint: 640,
								visibleItems: 2
							},
							tablet: {
								changePoint: 768,
								visibleItems: 3
							}
						}
					});

				});
			</script>
		</div>
		<div class="single1">
			<div class="col-md-9">
				<div class="col_3">
					<h3>Việc làm gần đây</h3>
					<ul class="list_1">
						<li>
							<a href="#">Department of Health - Western Australia</a>
						</li>
						<li>
							<a href="#">Australian Nursing Agency currently require experiences</a>
						</li>
						<li>
							<a href="#">Russia Nursing Agency currently require experiences</a>
						</li>
						<li>
							<a href="#">The Government of Western Saudi Arbia</a>
						</li>
						<li>
							<a href="#">Department of Health - Western Australia</a>
						</li>
						<li>
							<a href="#">Australian Nursing Agency currently require experiences</a>
						</li>
						<li>
							<a href="#">Russia Nursing Agency currently require experiences</a>
						</li>
						<li>
							<a href="#">The Scientific Publishing Services in Saudi Arbia</a>
						</li>
						<li>
							<a href="#">BPO Private Limited in Canada</a>
						</li>
						<li>
							<a href="#">Executive Tracks Associates in Pakistan</a>
						</li>
						<li>
							<a href="#">Pyramid IT Consulting Pvt. Ltd. in Pakistan</a>
						</li>
					</ul>
				</div>

			</div>
			<div class="col-md-3">
				<div class="col_3">
					<h3>Việc làm theo các ngành nghề</h3>
					<ul class="list_2">
						<li>
							<a href="#">Railway Recruitment</a>
						</li>
						<li>
							<a href="#">Air Force Jobs</a>
						</li>
						<li>
							<a href="#">Police Jobs</a>
						</li>
						<li>
							<a href="#">Intelligence Bureau Jobs</a>
						</li>
						<li>
							<a href="#">Army Jobs</a>
						</li>
						<li>
							<a href="#">Navy Jobs</a>
						</li>
						<li>
							<a href="#">BSNL Jobs</a>
						</li>
						<li>
							<a href="#">Software Jobs</a>
						</li>
						<li>
							<a href="#">Research Jobs</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- feature company -->
	<!-- footer-top -->
	<div class="backtotop">
		<button onclick="topFunction()" id="myBtn" title="Go to top"></button>
	</div>
	<div class="footer-top">
		<div class="container">
			<div class="col-md-8 footerleft">
				<h3>BkConnect</h3>
				<p>BkConnect là hệ thống cho phép các doanh nghiệp có thể cập nhật các thông tin của công ty, đăng bài tuyển dụng và nhận
					trực tiếp đơn apply của sinh viên</p>
				<p>Các sinh viên tham gia vào hệ thống có thể cập nhật thông tin profile và gửi profile cho các nhà tuyển dụng để apply
					công việc mình mong muốn.</p>
			</div>
			<div class="col-md-4 footerright">
				<h3>Nhóm phát triển</h3>
				<p class="phone">phone: +0(21) 334 5678</p>
				<p class="phone">Fax: +0(21) 334 5678</p>
				<p class="phone">Mail:
					<a href="mailto:bkconnect.huylv@gmail.com">bkconnect.huylv@gmail.com</a>
				</p>
			</div>
		</div>
		<br>
		<div class="container">
		<div class="col-md-2"></div>
		<div class="col-md-8 foo-left">
			<a href="index.html"><img src="images/logo.png" class="img-responsive logo" alt=""></a>
			<p>&nbsp BkConnect - Hệ thống cung cấp thông tin tuyển dụng kết nối các doanh nghiệp với sinh viên</p>
		</div>
	</div>

	</div>
	<!-- footer-top -->

	<script type="text/javascript">
				 // When the user scrolls down 20px from the top of the document, show the button
				 window.onscroll = function () { scrollFunction() };
				 function scrollFunction() {
					 if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
						 document.getElementById("myBtn").style.display = "block";
					 } else {
						 document.getElementById("myBtn").style.display = "none";
					 }
				 }
				 // When the user clicks on the button, scroll to the top of the document
				 function topFunction() {
					 document.body.scrollTop = 0; // For Chrome, Safari and Opera 
					 document.documentElement.scrollTop = 0; // For IE and Firefox
				 }
	</script>