<head>
	<link href="vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
	<link href="views/home/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<script src="vendor/jquery/dist/jquery.min.js"></script>
	<link rel="stylesheet" href="views/home/css/flexslider.css" type="text/css" media="screen" />
	<script type="text/javascript" src="views/home/js/jquery.flexisel.js"></script>

</head>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1" class=""></li>
		<li data-target="#myCarousel" data-slide-to="2" class=""></li>
		<li data-target="#myCarousel" data-slide-to="3" class=""></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<div class="container">
				<div class="carousel-caption">
					<h3>Improving workplace
						<span>Productivity.</span>
					</h3>
					<p>Hire. Train. Retain.</p>
					<div class="agileits-button top_ban_agile">
						<a class="btn btn-primary btn-lg" href="single.html">Read More »</a>
					</div>
				</div>
			</div>
		</div>
		<div class="item item2">
			<div class="container">
				<div class="carousel-caption">

				</div>
			</div>
		</div>
		<div class="item item3">
			<div class="container">
				<div class="carousel-caption">

				</div>
			</div>
		</div>
		<div class="item item4">
			<div class="container">
				<div class="carousel-caption">

				</div>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="fa fa-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="fa fa-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
	<!-- The Modal -->
</div>
<!--//banner -->

<!--/search_form -->
<div id="search_form" class="search_top">
	<h2>Start your job search</h2>
	<form action="#" method="post">
		<input type="text" name="Enter Keyword(s)" placeholder="Enter Keyword(s)" required="">
		<select id="country12" class="frm-field required">
			<option value="null"> Select Category</option>
			<option ng-repeat="option in listCareer" value="{{option.idcareer}}">{{option.name}}</option>
		</select>
		<input type="submit" value="Find Jobs">
		<div class="clearfix"></div>
	</form>
</div>

<div class="inner_content_info_agileits">
	<div class="container">
		<div class="tittle_head_w3ls">
			<h3 class="tittle">Hiện có {{listPost.length}} công việc </h3>
		</div>
		<div class="inner_sec_grids_info_w3ls">
			<div class="col-md-8 job_info_left">
				<div class="but_list">
					<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
						<ul id="myTab" class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active">
								<a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Công việc gần đây</a>
							</li>
							<li role="presentation">
								<a href="#follow" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Việc bạn đang theo dõi</a>
							</li>
						</ul>
						<div id="myTabContent" class="tab-content">
							<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
								<div ng-repeat="post in listPost | limitTo :limit">
									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="/companies/{{post.idcompany}}">
												<img src="{{post.logoCom}}" alt="">
											</a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6>
													<a href="/post/{{post.idpost}}"> {{post.title}}</a>
												</h6>
												<p>
													<span class="m_2">Công ty : </span>
													<a href="/companies/{{post.idcompany}}">
														<strong>{{post.nameCom}} </strong>
													</a>|
													<span class="m_2">Loại công việc: </span>{{post.category}}
												</p>
												<p>
												</p>
												<p>
													<span class="m_2">Lương : </span>{{post.salary}}
													<span class="m_2"> | Địa điểm : </span>{{post.address}}

												</p>
												<p>
													<span class="m_2">Ngày đăng : </span>{{post.created | date:'dd/MM/yyyy'}}
													<span class="m_2"> | Hạn đăng ký : </span>{{post.expired | date:'dd/MM/yyyy'}}
												</p>
												<ul class="links_bottom">
													<li>
														<a href="/post/{{post.idpost}}">
															<i class="fa fa-eye icon_1"> </i>
															<span class="icon_text">Xem chi tiết bài đăng</span>
														</a>
													</li>
													<li class="last">
														<a href="/post/{{post.idpost}}">
															<span class="icon_text">MORE
																<i class="fa fa-caret-right icon_1"> </i>
															</span>
														</a>
													</li>
												</ul>
											</div>
										</div>

										<div class="clearfix"> </div>
									</div>
								</div>
								<div id="loadMore" ng-click="loadMore()" ng-hide="limit==listPost.length">
									<button class="btn btn-primary btn-lg">Load More</button>
								</div>
							</div>

							<div role="tabpanel" class="tab-pane fade" id="follow" aria-labelledby="profile-tab">

								<div class="tab_grid">
									<div class="col-sm-3 loc_1">
										<a href="location_single.html">
											<img src="images/loc3.jpg" alt="">
										</a>
									</div>
									<div class="col-sm-9">
										<div class="location_box1">
											<h6>
												<a href="location_single.html">Icorrupti quos </a>
												<span class="m_1">Posted 5 hours ago</span>
											</h6>
											<p>
												<span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled
												and demoralized by the charms of pleasure</p>
											<ul class="links_bottom">
												<li>
													<a href="location_single.html">
														<i class="fa fa-envelope-o icon_1"> </i>
														<span class="icon_text"> Email this Job</span>
													</a>
												</li>
												<li>
													<a href="location_single.html">
														<i class="fa fa-eye icon_1"> </i>
														<span class="icon_text">View full Job Description</span>
													</a>
												</li>
												<li class="last">
													<a href="location_single.html">
														<span class="icon_text">More
															<i class="fa fa-caret-right icon_1"> </i>
														</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="tab_grid">
									<div class="col-sm-3 loc_1">
										<a href="location_single.html">
											<img src="views/company/images/logo1.png" alt="">
										</a>
									</div>
									<div class="col-sm-9">
										<div class="location_box1">
											<h6>
												<a href="location_single.html">therefore always </a>
												<span class="m_1">Posted 5 hours ago</span>
											</h6>
											<p>
												<span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled
												and demoralized by the charms of pleasure</p>
											<ul class="links_bottom">
												<li>
													<a href="location_single.html">
														<i class="fa fa-envelope-o icon_1"> </i>
														<span class="icon_text"> Email this Job</span>
													</a>
												</li>
												<li>
													<a href="location_single.html">
														<i class="fa fa-eye icon_1"> </i>
														<span class="icon_text">View full Job Description</span>
													</a>
												</li>
												<li class="last">
													<a href="location_single.html">
														<span class="icon_text">More
															<i class="fa fa-caret-right icon_1"> </i>
														</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="clearfix"> </div>
								</div>

								<div class="tab_grid last">
									<div class="col-sm-3 loc_1">
										<a href="location_single.html">
											<img src="views/company/images/banner1.png" alt="">
										</a>
									</div>
									<div class="col-sm-9">
										<div class="location_box1">
											<h6>
												<a href="#"> blame belongs </a>
												<span class="m_1">Posted 5 hours ago</span>
											</h6>
											<p>
												<span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled
												and demoralized by the charms of pleasure</p>
											<ul class="links_bottom">
												<li>
													<a href="location_single.html">
														<i class="fa fa-envelope-o icon_1"> </i>
														<span class="icon_text"> Email this Job</span>
													</a>
												</li>
												<li>
													<a href="location_single.html">
														<i class="fa fa-eye icon_1"> </i>
														<span class="icon_text">View full Job Description</span>
													</a>
												</li>
												<li class="last">
													<a href="location_single.html">
														<span class="icon_text">More
															<i class="fa fa-caret-right icon_1"> </i>
														</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="clearfix"> </div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 job_info_right">

			<div class="widget_search">
				<h5 class="widget-title">Công ty nổi bật</h5>
				<div class="widget-content">
					<ul class="list_2">
						<li ng-repeat="company in listComTop">
							<div class="friends-grids">
								<div class="grids-left">
									<a href="/companies/{{company.idcompany}}">
										<img ngf-thumbnail="company.logo || 'views/home/images/logo1.png'" style="width: 65px; height: 65px;" />
									</a>
								</div>
								<div class="grids-right">
									<h2>{{company.name}}</h2>
								</div>
							</div>
						</li>
						<a href="/companies" >Xem thêm</a>
						
					</ul>
				</div>
			</div>

			<div class="col_3 permit">
				<h3>Các công ty follow</h3>
				<ul class="list_2">
					<li>
						<div class="friends-grids">
							<div class="grids-left">
								<a href="">
									<img src="views/home/images/banner4.jpg" style="width: 65px; height: 65px;" />
								</a>
							</div>
							<div class="grids-right">
								<h2>FPT Software</h2>
							</div>
						</div>
					</li>
					<li>
						<div class="friends-grids">
							<div class="grids-left">
								<img src="views/home/images/c5.gif" style="width: 65px; height: 65px;" />
							</div>
							<div class="grids-right">
								<h2>Magestore</h2>
							</div>
						</div>
					</li>
					<li>
						<div class="friends-grids">
							<div class="grids-left">
								<img src="views/home/images/banner1.jpg" style="width: 65px; height: 65px;" />
							</div>
							<div class="grids-right">
								<p></p>
								<h2>Vina Acecook</h2>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="col_3 permit">
				<h3>Jobs by Category</h3>
				<ul class="list_2">
					<li ng-repeat="option in listCareer">
						<a href="#">{{option.name}}</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- footer-top -->
<div class="backtotop">
	<button onclick="topFunction()" id="myBtn" title="Go to top"></button>
</div>