<head>
    <link href="vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="views/home/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="views/home/css/post.css" rel="stylesheet" type="text/css" media="all" />
    <link href="views/home/css/cv.css" rel="stylesheet" type="text/css" media="all" />
</head>

<div class="inner_page_agile " style="margin: auto">
    <h3>{{postDetail.title}}</h3>
    <div class="container" style="width :80% ; margin-top: 13px; font-size:18px ">
        <p class="col-md-4" style="text-align: right;">Ngành: {{career}} </p>
        <p class="col-md-4" style="text-align: center; border-left: solid 1px;border-right: solid 1px; ">Lương: {{postDetail.salary}} </p>
        <p class="col-md-4" style="text-align: left;"> Địa điểm: {{postDetail.address}}</p>
    </div>

</div>
<div class="services-breadcrumb_w3layouts">
    <div class="inner_breadcrumb">
        <ul class="short_w3ls">
            <li class="fa fa-star"> Thông tin chi tiết </li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="inner_sec_grids_info_w3ls">
        <div class="col-md-8 job_info_left">
            <div class="job-detail-description">
                <div class="title-detail">
                    <span class="fa fa-thumb-tack"></span> Giới thiệu công việc
                </div>
                <div class="detail-description">
                    <p ng-bind-html="postDetail.description"></p>
                </div>

            </div>
            <div class="job-detail-description">
                <div class="title-detail">
                    <span class="fa fa-thumb-tack"></span> Yêu cầu công việc
                </div>
                <div class="detail-description">
                    <p ng-bind-html="postDetail.require_skill"></p>

                </div>

            </div>
            <div class="job-detail-description">
                <div class="title-detail">
                    <span class="fa fa-thumb-tack"></span> Quyền lợi
                </div>
                <div class="detail-description">
                    <p ng-bind-html="postDetail.benefits"></p>

                </div>

            </div>
            <div class="job-detail-description">
                <div class="title-detail">
                    <span class="fa fa-thumb-tack"></span> Nộp hồ sơ
                </div>
                <div class="detail-description">
                    <p ng-bind-html="postDetail.contact"></p>

                </div>

            </div>
            <div class="job-detail-description">
                <div class="apply">
                    <a data-target="#applyJobModal" data-toggle="modal" data-ng-click="showCV()">Ứng tuyển</a>
                    <!-- <a data-target='#cInfo' data-ng-click=="showCV()">Ứng tuyển</a> -->
                </div>
            </div>
        </div>

        <div class="company-info col-md-4">
            <div class="company-desc" itemscope="" itemtype="http://schema.org/Organization">
                <div class="company-header">
                    <div class="company-featured">
                        <a href="#">
                            <img width="147" height="119" ng-src="{{companyInfo.logo}}" class="col-xs-12 col-sm-2 col-md-2 col-lg-2 cp_logo  mobile-hide">
                        </a>
                    </div>
                    <h3 class="company-title" itemprop="name">
                        <a href="#">{{companyInfo.name}}</a>
                    </h3>
                </div>
                <div class="company-info">
                    <div class="company-info-content" ng-bind-html="companyInfo.about" aria-expanded="true" id="rmjs-1" style="max-height: none;">
                    </div>
                    <div class="company-custom-fields">
                        <strong class="company-cf-title">Information</strong>
                        <ul>
                            <li>
                                <strong class="label-_address company-cf">Địa chỉ:</strong>
                                {{companyInfo.address}}</li>
                            <li>
                                <strong class="label-_jm_company_field__diachi company-cf">Website:</strong>
                                <a href="//{{companyInfo.website}}" class="value-_jm_company_field__diachi cf-text-value">{{companyInfo.website}}</a>
                            </li>
                            <li>
                                <strong class="label-_jm_company_field_company-size company-cf" style="display: inline-block;">Sứ mệnh :</strong>
                                <span class="value-_jm_company_field_company-size cf-select-value" ng-bind-html="companyInfo.mission" style="display: inline-block;"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <!-- <span aria-hidden="true">×</span> -->
            </button>
            <h3 class="modal-title" id="modal-title">Application Form</h3>
    </div>
     <div class="modal-body" id="modal-body">
            <div id="primary" class="content-area grid-parent mobile-grid-100 grid-100 tablet-grid-100">
              <main id="main" class="site-main">
                <div class="inside-article row">
                  <div class="page-header-image-single grid-container information col-md-2">
                    <img width="256" height="256" ngf-thumbnail="chosenPhoto || user.photo || 'views/student/images/100.png'" class="attachment-full size-full wp-post-image"
                      alt="" itemprop="image" srcset="" sizes="(max-width: 100px) 100vw, 100px">
                  </div>
          
                  <div class="col-md-4">
                    <div class="general" itemscope="" itemtype="http://schema.org/JobPosting">
                      <h3 class="name" itemprop="headline">{{infoCV.name}}</h3>
                      <ul class="gen_info">
                        <li class="classes">
                          <strong>Ví trí ứng tuyển:</strong>
                          <input ng-model="infoCV.position">
                        </li>
                      </ul>
                    </div>
                  </div>
          
                </div>
          
                <div class="personal information">
                  <div class="title">
                    <i class="fa fa-fw fa-list"></i>Thông tin cá nhân
                  </div>
                  <div id="section-contact-edit" class="content form-wrapper form-view relative box-md">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="address">Email:</label>
                          <div class="view-field" style="display: block;">
                            <input type="email" autofocus="" class="form-control edit-control" id="emailaddress" disabled="disabled" placeholder="john.doe@navigosgroup.com"
                              ng-model="infoCV.email">
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="cell-number">
                            Điện Thoại:</label>
                          <div class="view-field clearfix" style="display: block;">
                            <input type="tel" class="form-control edit-control" name="cellphone" id="cell-number" placeholder="Ví dụ: 0903012825" ng-model="infoCV.phone">
                          </div>
                        </div>
                      </div>
                    </div>
          
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="date-of-birth">
                            Ngày sinh:</label>
                          <div class="view-field" style="display: block;">
                            <input class="form-control edit-control" type="date" id="date-of-birth" name="birthday" placeholder="{ 'e.g. 28/04/1986'|trans }}"
                              ng-model="infoCV.birthday">
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Giới tính</label>
                          <div class="view-field" style="display: block;">
                            <div class="edit-field" style="display: block;">
                              <label class="radio-inline" for="gender-male">
                                <input class="edit-control" type="radio" name="gender" id="gender-nam" ng-value="true" ng-model="infoCV.sex"> Nam
                              </label>
                              <label class="radio-inline" for="gender-male">
                                <input class="edit-control" type="radio" name="gender" id="gender-nữ" ng-value="false" ng-model="infoCV.sex"> Nữ
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
          
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label>Địa chỉ</label>
                          <div class="view-field" style="display: block;">
                            <p class="form-control-static view-control"></p>
                            <input type="text" class="form-control edit-control" id="address" name="address" placeholder="Ví dụ: 130 Sương Nguyệt Ánh"
                              ng-model="infoCV.address">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="skill information">
                  <div class="title">
                    <i class="fa fa-fw fa-flash"></i>Kỹ năng:</div>
                  <div class="content">
                    <form>
                      <div class="form-group">
                        <textarea class="form-control" rows="5" id="comment" ng-model="infoCV.skill">             </textarea>
                      </div>
                    </form>
                  </div>
          
                </div>
                <div class="experience information">
                  <div class="title">
                    <i class="fa fa-fw fa-laptop"></i>Kinh nghiệm:</div>
                  <div class="content">
                    <form>
                      <div class="form-group">
                        <textarea class="form-control" rows="5" id="comment" ng-model="infoCV.experience">             </textarea>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="language information">
                  <div class="title">
                    <i class="fa fa-fw fa-star"></i>Học Vấn:</div>
                  <div class="content">
                    <form>
                      <div class="form-group">
                        <textarea class="form-control" ng-model="infoCV.education" rows="5" id="comment">700 Toeic và N4 tiếng Nhật </textarea>
          
                      </div>
                    </form>
                  </div>
                </div>
                <div class="goal information">
                  <div class="title">
                    <i class="fa fa-fw fa-fighter-jet"></i>Mục tiêu:</div>
                  <div class="content">
                    <form>
                      <div class="form-group">
                        <textarea class="form-control" ng-model="infoCV.objective" rows="5" id="comment">Mục tiêu </textarea>
          
                      </div>
                    </form>
                  </div>
                </div>
                <div class="additonal information">
                  <div class="title">
                    <i class="fa fa-fw fa-adjust"></i>Thông tin bổ sung</div>
                  <div class="content">
                    <form>
                      <div class="form-group">
                        <textarea class="form-control" ng-model="infoCV.other" rows="5" id="comment">Đã từng tham gia câu lạc bộ tin học của trường </textarea>
                      </div>
                    </form>
                  </div>
          
                </div>
              </main>
            </div>
     </div>
    <div class="modal-footer">
            <div style="margin-bottom:10px" class="application-command">
              <button type="button" class="application_button btn btn-success" data-modal="modal" id="onload" ng-click="applyCV()">Nộp CV</button>
              <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>              
            </div>
    </div>
</script>
        <div class="clearfix"></div>
    </div>
</div>