<head>
	<link href="vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<link href="views/home/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="views/home/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />

</head>
<div class="inner_page_agile">
	<h3>Tìm kiếm</h3>
	<p>Có vô vàn cơ hội đang chờ mọi người tìm được công việc ưng ý </p>

</div>
<!--//banner -->
<!--/w3_short-->
<div class="services-breadcrumb_w3layouts">
	<div class="inner_breadcrumb">

		<ul class="short_w3ls" _w3ls>
			<li>
				<a href="index.html">Home</a>
				<span>|</span>
			</li>
			<li>Tìm kiếm</li>
		</ul>
	</div>
</div>
<!--//w3_short-->
<div id="search_form" class="search_top">
	<h2>Tìm kiếm cơ hội dành cho bạn</h2>
	<form>
		<input type="text" ng-model="searchString" name="Enter Keyword(s)" placeholder="Nhập từ khóa tìm kiếm(s)" required="">
		<input type="submit" value="Tìm kiếm">
		<div class="clearfix"></div>
	</form>
</div>
<!-- /inner_content -->

<div class="inner_content_info_agileits" style="padding :10px;">
	<div class="container">
		<div class="inner_sec_grids_info_w3ls">
			<div class="col-md-8 job_info_left">
				<div class="but_list">
					<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
						<ul id="myTab" class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active">
								<a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Kết quả phù hợp</a>
							</li>
							<!-- <li role="presentation">
								<a href="#follow" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Việc bạn đang theo dõi</a>
							</li> -->
						</ul>
						<div id="myTabContent" class="tab-content">

							<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
								<div ng-if="(filteredPost | searchMulti :searchString) == 0" class="tab_grid">
									<strong> Không có kết quả phù hợp </strong>
								</div>
								<div ng-repeat="post in filteredPost | searchMulti :searchString">
									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="/companies/{{post.idcompany}}">
												<img src="{{post.logoCom}}" alt="">
											</a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6>
													<a href="/post/{{post.idpost}}"> {{post.title}}</a>
												</h6>
												<p>
													<span class="m_2">Công ty : </span>
													<a href="/companies/{{post.idcompany}}">
														<strong>{{post.nameCom}} </strong>
													</a>|
													<span class="m_2">Loại công việc: </span>{{post.category}}
												</p>
												<p>
												</p>
												<p>
													<span class="m_2">Lương : </span>{{post.salary}}
													<span class="m_2"> | Địa điểm : </span>{{post.address}}

												</p>
												<p>
													<span class="m_2">Ngày đăng : </span>{{post.created | date:'dd/MM/yyyy'}}
													<span class="m_2"> | Hạn đăng ký : </span>{{post.expired | date:'dd/MM/yyyy'}}
												</p>
												<ul class="links_bottom">
													<li>
														<a href="/post/{{post.idpost}}">
															<i class="fa fa-eye icon_1"> </i>
															<span class="icon_text">Xem chi tiết bài đăng</span>
														</a>
													</li>
													<li class="last">
														<a href="/post/{{post.idpost}}">
															<span class="icon_text">MORE
																<i class="fa fa-caret-right icon_1"> </i>
															</span>
														</a>
													</li>
												</ul>
											</div>
										</div>

										<div class="clearfix"> </div>
									</div>
								</div>
							</div>

							<!-- <div role="tabpanel" class="tab-pane fade" id="follow" aria-labelledby="profile-tab">

								<div ng-if="!authen" class="tab_grid">
									<strong> Xin lỗi ! Bạn cần đăng nhập để xem tính năng này ! </strong>
								</div>
								<div ng-repeat="post in listPostFollow | limitTo :limit" ng-if="authen">
									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="/companies/{{post.idcompany}}">
												<img src="{{post.logoCom}}" alt="">
											</a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6>
													<a href="/post/{{post.idpost}}"> {{post.title}}</a>
												</h6>
												<p>
													<span class="m_2">Công ty : </span>
													<a href="/companies/{{post.idcompany}}">
														<strong>{{post.nameCom}} </strong>
													</a>|
													<span class="m_2">Loại công việc: </span>{{post.category}}
												</p>
												<p>
												</p>
												<p>
													<span class="m_2">Lương : </span>{{post.salary}}
													<span class="m_2"> | Địa điểm : </span>{{post.address}}

												</p>
												<p>
													<span class="m_2">Ngày đăng : </span>{{post.created | date:'dd/MM/yyyy'}}
													<span class="m_2"> | Hạn đăng ký : </span>{{post.expired | date:'dd/MM/yyyy'}}
												</p>
												<ul class="links_bottom">
													<li>
														<a href="/post/{{post.idpost}}">
															<i class="fa fa-eye icon_1"> </i>
															<span class="icon_text">Xem chi tiết bài đăng</span>
														</a>
													</li>
													<li class="last">
														<a href="/post/{{post.idpost}}">
															<span class="icon_text">MORE
																<i class="fa fa-caret-right icon_1"> </i>
															</span>
														</a>
													</li>
												</ul>
											</div>
										</div>

										<div class="clearfix"> </div>
									</div>
								</div>

							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 job_info_right">
			<div class="col_3 permit">
				<h3>Loại công việc</h3>
				<table class="table">
					<tbody>
						<tr class="unread checked" ng-repeat="category in categoryGroup">
							<td class="hidden-xs">
								<input type="checkbox" ng-model="useCategory[category]" />
							</td>
							<td class="hidden-xs">
								<b> {{category}}</b>
								<span>({{ (filteredPost | filter:query | filter:count('category', category)).length }})</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="col_3 permit">
				<h3>Công việc theo ngành nghề</h3>
				<table class="table">
					<tbody>
						<tr class="unread checked" ng-repeat="career in careerGroup">
							<td class="hidden-xs">
								<input type="checkbox" ng-checked="career.idcareer==chooseCareer" ng-model="useCareer[career.idcareer]" />
							</td>
							<td class="hidden-xs">
								<b> {{career.name}}</b>
								<span>({{ (filteredPost | filter:query | filter:count('idcareer', career.idcareer)).length }})</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>


		</div>
		<div class="col-md-4 job_info_right">
			<div class="col_3 permit">
				<h3>Địa điểm làm việc</h3>
				<table class="table">
					<tbody>
						<tr class="unread checked" ng-repeat="address in addressGroup">
							<td class="hidden-xs">
								<input type="checkbox" class="checkbox" ng-model="useAddress[address]">
							</td>
							<td class="hidden-xs">
								<b> {{address}}</b>
								<span>({{ (filteredPost | filter:query | filter:count('address', address)).length }})</span>

							</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //inner_content -->