<head>
	<title>Trang Chủ</title>
	<link href="views/header/css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<header ng-controller="HeaderController">
	<nav>
		<div class="header">
			<div class="header-bottom">
				<div class="container">
					<div class="logo">
						<a href="index.html">
							<img src="views/header/images/logo1.png" class="img-responsive" alt="">
						</a>
					</div>
					<div class="head-nav">
						<span class="menu"> </span>
						<ul class="cl-effect-3">
							<li>
								<a ui-sref="home">Trang Chủ</a>
							</li>
							<li>
								<a ui-sref="listCompany">Công Ty</a>
							</li>
							<li>
								<a ui-sref="search">Tìm kiếm</a>
							</li>
							<li>
								<a ui-sref="contact">Liên Hệ</a>
							</li>
						</ul>
						<!-- script-for-nav -->
						<script>
							$("span.menu").click(function () {
								$(".head-nav ul").slideToggle(300, function () {
									// Animation complete.
								});
							});
						</script>
						<!-- script-for-nav -->
					</div>
					<div class="header-right1" ng-if="currentUser">
						<div class="profile_details" class="dropdown profile_details_drop" uib-dropdown>

							<a class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown" aria-expanded="true">
								<div class="profile_img">
									<!-- <span class="prfil-img"><i class="fa fa-user" aria-hidden="true"></i></span> -->
									<img class="avatar" ngf-thumbnail="user.photo || 'views/student/images/100.png'" alt="Mountain View" width="50" height="50">
									<label>{{user.name}}</label>
								</div>
							</a>
							<ul class="dropdown-menu drp-mnu" uib-dropdown-menu>
								<li>
									<a href="student/profile">
										<i class="fa fa-cog"></i> Cập nhật thông tin</a>
								</li>

								<li>
									<a ng-click="logout()">
										<i class="fa fa-sign-out" ></i> Đăng xuất</a>
								</li>
							</ul>

						</div>
					</div>
					<div class="header-right2" ng-if="!currentUser">
						<li>
							<a href="/login">Sinh viên</a>
						</li>
						<li>
							<a onclick="window.location.replace('/company')" >Công ty</a>
						</li>
					</div>
				</div>
			</div>
		</div>
	</nav>
</header>
<!-- header -->
<script type="text/javascript">	
	$("#drop").click(function () {
		$("#drop").toggleClass("open");
	});
	$(window).scroll(function () {
		if ($(window).scrollTop() >= 100) {
			$('nav').addClass('fixed-header');
		}
		else {
			$('nav').removeClass('fixed-header');
		}
	});
</script>