<link href="views/admin/css/login.css" rel="stylesheet" type="text/css">
<script src="views/admin/js/login.js"></script>
<h1 class="text-notifi" ng-if="adminNotifi"> {{textAdmin}} </h1>
<div id="login-box">
  <div class="logo">
    <img src="views/admin/image/admin.jpg" class="img img-responsive img-circle center-block" />
    <h1 class="logo-caption">
      <span class="tweak">L</span>ogin</h1>
  </div>
  <!-- /.logo -->
  <div class="controls">
    <input type="text" ng-model="admin.username" name="username" placeholder="Username" class="form-control" />
    <input type="password" ng-model="admin.password" name="password" placeholder="Password" class="form-control" />
    <button type="button" ng-click="loginAdmin()" class="btn btn-default btn-block btn-custom">Login</button>
  </div>
  <!-- /.controls -->
</div>
<!-- /#login-box -->

<div id="particles-js"></div>