<head>
  <link href="vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="views/student/css/cv.css" rel="stylesheet" type="text/css" media="all" />
</head>

<h1>Cập nhật thông tin cá nhân </h1>
<hr>
<div class="row">
  <!-- left column -->
  <div class="col-md-3">
    <div class="text-center information-left">
      <label for="avatarFile" style="cursor: pointer;">
        <img style="width:200px;" class="avatar img-circle" alt="avatar" ngf-thumbnail="chosenPhoto || user.photo || 'views/student/images/100.png'"
        />
      </label>
      <input type="file" id="avatarFile" style="display : none;" class="form-control" ngf-pattern="'image/*'" accept="image/*"
        ngf-max-size="20MB" ngf-select ng-model="chosenPhoto" />
    </div>
    <div class="permit">
      <h3>Các công ty theo dõi</h3>
      <ul class="list_2">

        <li ng-repeat="company in listComFollow">
          <div class="friends-grids">
            <div class="grids-left">
              <a href="/companies/{{company.idcompany}}">
                <img ngf-thumbnail="company.logoCom || 'views/home/images/logo1.png'" style="width: 65px; height: 65px;" />
              </a>
            </div>
            <div class="grids-right">
              <h2>{{company.nameCom}}</h2>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- edit form column -->
  <div class="col-md-9 personal-info">
    <div class="alert alert-info alert-dismissable">
      <a class="panel-close close" data-dismiss="alert">×</a>
      <i class="fa fa-coffee"></i> Hãy cập nhật thông tin
      <strong>cẩn thận</strong>. Thông tin sẽ được sử dụng để gửi CV khi bạn apply.
    </div>

    <form class="form-horizontal" role="form">
      <div class="personal information">
        <div class="title">
          <i class="fa fa-fw fa-list"></i>Thông tin cá nhân</div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group content">
              <label class="col-lg-4 control-label">Email:</label>
              <div class="col-lg-8">
                <input class="form-control" disabled="disabled" type="email" ng-model="user.email" value="20141943@student.hust.edu.vn">
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group content">
              <label class="col-lg-3 control-label">Họ tên:
              </label>
              <div class="col-lg-8">
                <input class="form-control" type="text" ng-model="user.name" value="HuyLV">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group content">
              <label class="col-lg-4 control-label">Giới tính:</label>
              <div class="col-lg-8">
                <label class="radio-inline">
                  <input type="radio" ng-value="true" ng-model="user.sex">Nam</label>
                <label class="radio-inline">
                  <input type="radio" ng-value="false" ng-model="user.sex">Nữ</label>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group content">
              <label class="col-lg-3 control-label">Ngày sinh:</label>
              <div class="col-lg-8">
                <input type='date' class="form-control" ng-model="user.birthday" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group content">
              <label class="col-lg-4 control-label">Số điện thoại:</label>
              <div class="col-lg-8">
                <input class="form-control" ng-model="user.phone" type="string" value="0123456789">
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group content">
              <label class="col-lg-3 control-label">Địa chỉ:</label>
              <div class="col-lg-8">
                <textarea class="form-control" ng-model="user.address" rows="3"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="skill information">
        <div class="title">
          <i class="fa fa-fw fa-flash"></i>Kỹ năng</div>
        <div class="form-group content">
          <div class="col-md-12">
            <textarea class="form-control" ng-model="user.skill" type="text" rows="4" cols="10"></textarea>
          </div>
        </div>
      </div>

      <div class="experience information">
        <div class="title">
          <i class="fa fa-fw fa-laptop"></i>Kinh nghiệm</div>
        <div class="form-group content">
          <div class="col-md-12">
            <textarea class="form-control" ng-model="user.experience" type="text" rows="3"></textarea>
          </div>
        </div>
      </div>

      <div class="language information">
        <div class="title">
          <i class="fa fa-fw fa-star"></i>Học vấn</div>
        <div class="form-group content">
          <div class="col-md-12">
            <textarea class="form-control" ng-model="user.education" type="text" rows="3"></textarea>
          </div>
        </div>
      </div>

      <div class="goal information">
        <div class="title">
          <i class="fa fa-fw fa-fighter-jet"></i>Mục tiêu</div>
        <div class="form-group content">
          <div class="col-md-12">
            <textarea class="form-control" ng-model="user.objective" type="text" rows="3"></textarea>
          </div>
        </div>
      </div>

      <div class="additonal information">
        <div class="title">
          <i class="fa fa-fw fa-adjust"></i>Thông tin bổ sung</div>
        <div class="form-group content">
          <div class="col-md-12">
            <textarea class="form-control" ng-model="user.other" type="text"></textarea>
          </div>
        </div>
      </div>

      <p class="text-center" ng-show="loading">
        <span class="fa fa-spinner fa-spin fa-3x"></span>
      </p>

      <div class="form-group buttons">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8">
          <input type="button" class="btn btn-primary" ng-click="updateInfo()" value="Lưu thay đổi">
          <input type="reset" ng-click="reset()" class="btn btn-success" value="Hủy">
        </div>
      </div>
    </form>
  </div>
</div>
<hr>