<head>
  <link href="vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
</head>

<h1>Edit Profile</h1>
<hr>
<div class="row">
  <!-- left column -->
  <div class="col-md-3">
    <div class="text-center">
      <img src="//placehold.it/100" ng-model="user.photo" class="avatar img-circle" alt="avatar">
      <h6>Upload a different photo...</h6>

      <input type="file" class="form-control">
    </div>
  </div>

  <!-- edit form column -->
  <div class="col-md-9 personal-info">
    <div class="alert alert-info alert-dismissable">
      <a class="panel-close close" data-dismiss="alert">×</a>
      <i class="fa fa-coffee"></i> Hãy cập nhật thông tin <strong>cẩn thận</strong>. Thông tin sẽ được sử dụng để gửi CV
      khi bạn apply.
    </div>
    <h3>Personal info</h3>

    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-lg-3 control-label"><i class="glyphicon glyphicon-user"></i> Email </label>
        <div class="col-lg-8">
          <input class="form-control" disabled="disabled" type="email" ng-model="user.email" value="20141943@student.hust.edu.vn">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Họ tên: </i></label>
        <div class="col-lg-8">
          <input class="form-control" type="text" ng-model="user.userName" value="HuyLV">
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 control-label">Giới tính:</label>
        <div class="col-lg-8">

          <label class="radio-inline"><input type="radio" name="male">Nam</label>
          <label class="radio-inline"><input type="radio" name="female">Nữ</label>

        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label">Ngày sinh:</label>
        <div class="col-md-8">
          <div class='input-group date' id='datetimepicker2'>
            <input type='text' class="form-control" ng-model="user.date" />
            <span class="input-group-addon">
             <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
      <script type="text/javascript">
        $(function () {
          $('#datetimepicker2').datetimepicker({
            
          });
        });
      </script>

      <div class="form-group">
        <label class="col-lg-3 control-label">Số điện thoại</label>
        <div class="col-lg-8">
          <input class="form-control" ng-model="user.phone" type="text" value="0123456789">
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 control-label">Địa chỉ:</label>
        <div class="col-lg-8">
          <textarea class="form-control" ng-model="user.address" rows="5"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label">Kĩ năng:</label>
        <div class="col-md-8">
          <textarea class="form-control" ng-model="user.skill" type="text" value=""></textarea>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label">Kinh nghiệm:</label>
        <div class="col-md-8">
          <textarea class="form-control" ng-model="user.experience" type="text" value=""></textarea>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label">Học vấn:</label>
        <div class="col-md-8">
          <textarea class="form-control" ng-model="user.education" type="text" value=""></textarea>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label">Mục tiêu:</label>
        <div class="col-md-8">
          <textarea class="form-control" ng-model="user.objective" type="text" value=""></textarea>
        </div>
      </div>


      <div class="form-group">
        <label class="col-md-3 control-label">Thông tin bổ sung:</label>
        <div class="col-md-8">
          <textarea class="form-control" ng-model="user.other" type="text" value=""></textarea>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8">
          <input type="button" class="btn btn-primary" ng-click="updateInfo()" value="Save Changes">
          <span></span>
          <input type="reset" class="btn btn-default" value="Cancel">
        </div>
      </div>
    </form>
  </div>
</div>
<hr>