h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html,body{
	font-family: 'Open Sans', sans-serif;
  background-color: #F5FDFC;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
  text-decoration: none;
  color: black;
}
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}
.site-content{
  margin-top: 20px;
}
.wp-post-image{
  margin: 10px;
  padding: 5px;
  width: 150px;
  height: 150px;
  border: solid 3px red;
  border-radius: 100px;
}
.information{
  background-color: #fff;
  text-decoration: none;
  max-width: 500px;
}
.information .title{
   padding: 10px 20px;
   font-size: 1.5em;   
   font-weight: bold;
   border-bottom: solid 1px grey;
}
.information .title i{
  width: 10%;
}
.information .content{
  padding: 20px 20px 30px 30px;
}
.information .content li:before {
  content: "\f00c"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em;
}
.general{
  border:  2px ;
  padding: 50px 0px;
}
.general .name{
  color: orange;
  text-align: left;
}
.general ul{
  list-style: none;
}
.general li:before {
  content: "\f02d"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}
.application-command{
  float: center;
  padding: 10px 150px 20px;
}
.application_button{
  width: 20%;
  height: 50px;
}
#applyJobModalLabel{
  text-align: center;
  font-weight: bold;
  color: red;
}
