html,body{
	font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}
.site-content{
  margin: 80px;
  background-color: #fff;
}
.title{
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  padding: 20PX;
}
.site-content .company{
  background-color: #fff;
}
.search_text_wrapper{
   width: 100%;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    background: white;
    border: 1px solid #bebebe;
}
.ui-autocomplete-input{
    box-sizing: border-box;
    box-shadow: none;
    border: none;
    width: 80%;
    background-color: inherit;
    outline: none;
    font-size: 1.2em;
}
.search_section_wrapper{
  padding-left: 120px;
  padding-bottom: 50px;
}
.search_button{
    padding: 0 15px;
    height: 50px;
    color: white;
    border: 0;
    border-radius: 4px;
    font-size: 18px;
    background-color: #EA1E30;
    -webkit-font-smoothing: antialiased;
    outline: 0;
}
.company_all{
  padding: 20px 50px 40px 100px;
}
.company_all a{
  text-decoration: none;
  color: black;
  background-color: grey;
}
.company:hover .company__name{
  color: orange;
}
.company__add{
  width: 300%;
  font-size: 0.9em;
}
.box{
  box-sizing: border-box;
}
.box{
  box-shadow: 8px 8px 4px #888888; 
}
.company__banner{
  z-index: -1;
}
.company__logo{
    width: 25%;
    padding-left: 30px;
    z-index: 1;
}
.company__logo img{
  position: relative;
    top:-15px;
    border: solid 1px #bfbfbf;
    background-color: #fff;
    padding: 5px;
  }
.company__name{
  padding-top: 5px;
  font-size: 1.3em;
  width: 300%;
  font-weight: bold;
  /*text-decoration: none;*/
}
.company__desc{
  text-decoration: none;
  padding-bottom: 20px;
  min-height: 80px;
}