<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li>
        <a href="#">Home</a>
    </li>
    <li>
        <a href="#">Bài đăng tuyển dụng</a>
    </li>
    <li class="active">Quản lý bài đăng </li>
</ul>
<!-- END BREADCRUMB -->

<!-- PAGE TITLE -->
<div class="page-title">
    <h2>
        <span class="fa fa-arrow-circle-o-left"></span> Quản lý bài Đăng </h2>
</div>
<!-- END PAGE TITLE -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Danh sách bài tuyển dụng</h3>
                    <ul class="panel-controls">
                        <li>
                            <a href="#" class="panel-collapse">
                                <span class="fa fa-angle-down"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="panel-refresh">
                                <span class="fa fa-refresh"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="panel-remove">
                                <span class="fa fa-times"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="panel-body">
                    <table id="example1" class="table table-bordered bordered table-striped  table-hover datatable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tiêu đề</th>
                                <th>Ngày tạo</th>
                                <th>Ngày hết hạn</th>
                                <th>Hình thức</th>
                                <th>Lương</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="post in data" repeat-done="initDataTable()">
                                <td data-title="'#'">
                                    {{$index+1}}</td>
                                <td data-title="'Name'">
                                    {{post.title}}</td>
                                <td data-title="'Created'">
                                    {{post.created | date:'dd/MM/yyyy'}}</td>
                                <td data-title="'Expired'">
                                    {{post.expired | date:'dd/MM/yyyy'}}</td>
                                <td data-title="'Category'">
                                    {{post.category}}</td>
                                <td data-title="'Salary'">
                                    {{post.salary}}</td>
                                <td>
                                    <a href="#edit/{{post.idpost}}" class=" btn btn-success btn-sm " >
                                        Edit </a>
                                    <button class=" btn btn-danger btn-sm " ng-click="deletePost(post.idpost)">
                                        Delete </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        
        </div>
    </div>

</div>
<!-- PAGE CONTENT WRAPPER -->